body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: black;    
    text-align: justify;
}

p{
    background-color: yellow;    
}

h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1 xx-large;
    color:#C41E3A;
}